:root {
  // colors
  --color-primary: #70cac9;
  --color-primary-dark: #69b5b5;
  --color-warning: #E6A23C;
  --color-danger: #f56c6c;
  --color-grey: #444444;
  --color-grey-light: #9b9b9b;
  --color-grey-lighter: #d8d8d8;
  --color-grey-lightest: #f2f2f2;
  --color-b: #000000;
  --color-w: #ffffff;
  --color-line: #00c300;
  --color-facebook: #3B5998;
  --color-messenger: #0084ff;
  --color-youtube: #f00000;
  --color-transparent: #00000000;
}
